<!-- Navigation -->
  

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
    <div class="intro-lead-in">Propulser vos idées vers le futur</div>
    <div class="intro-heading">Walid Sofiane</div>
    
    <a href="#portfolio" class="page-scroll btn btn-xl">Explorer mon univers</a>
</div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

